*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#footer1{
    width: 100%;
    /* border: 1px solid gray; */
    display: flex;
    /* margin-top: 800px; */
    
    
}
#image{
    /* width: 15%; */
    /* border: 1px solid gray; */
 margin: auto;
 display: grid;
 
}
#image>img:nth-child(1){
    margin-left: 30%;
}
#footer1txt{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
}
#footer1txt>div{
    /* border: 1px solid black; */
    width: 25%;
    /* height: 300px; */
    text-align: center;
}
#footer1txt>div>p{
    margin-top: 10px;
}